div#user-prompt-panel {
    position: fixed;
    right: 1.8em;
    top: 3.5em;
}

div#user-prompt-menubar {
    text-align: right;
}

div#user-prompt-popup-container {
    background: floralwhite;
    border: 1px solid lightgray;
    display: none;
    max-width: 50em;
    padding: 0.2em;
    width: 50em;
}

button#user-prompt-open-button {
    color: gray;
}

select#user-prompt-combo-list {
    color: gray;
    overflow: hidden;
    padding: 0.1em;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

select#user-prompt-combo-list option {
    color: gray;
}

div#user-prompt-button-container {
    text-align: right;
    width: 100%;
}

textarea#user-prompt-user-input {
    padding: 0.1em;
    width: 100%;
}

textarea#user-prompt-user-input {
    color: dodgerblue;
    height: 10em;
}